---
import { Image } from 'astro:assets'

import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import { Quote } from 'astro-pure/advanced'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const languages = ['Golang', 'Python', 'Java']
const frontend = ['React', 'Astro', 'Tailwind CSS']
const backend = ['Gin', 'Django', 'Node.js']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='China Beijing' as='a' href='https://www.google.com/maps/place/Beijing,+China' target='_blank'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label title='prj960827@gmail.com'>
            <Icon name='email' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Developer / Bloger</p>
        <p class='text-muted-foreground'>记录一点存在过的证据</p>
        <p class='text-muted-foreground'>做个有趣的人</p>
        <p class='text-muted-foreground'>偶尔假深沉，时而真发疯</p>
        <p class='text-muted-foreground'>间歇性踌躇满志，持续性混吃等死</p>

        <!-- <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' /> -->
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      
    <!-- <Section title='Experience'>
      <Card
        heading='Shopee'
        subheading='Backend Engineer'
        date='Jun 2024 - Now'
      >
      </Card>
      <Card
        heading='Tencent'
        subheading='Backend Engineer'
        date='Jul 2022 - Jun 2024'
      />
    </Section> -->
      
      <!-- <Section title='Education'>
        <Card
          as='a'
          heading='Lorem ipsum'
          subheading='Lorem ipsum dolor sit amet, vidit suscipit at mei.'
          date='August 2021 - July 2025'
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
        >
        </Card>
      </Section> -->

      <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://lovehyf.solejay.cn/'
            heading='Love Stories'
            subheading='To record, to remember, to cherish'
            imagePath='/src/assets/projects/love.png'
          />
          <ProjectCard
            href='https://gallery.solejay.cn/'
            heading='Gallery'
            subheading='Collection of my photos'
            imagePath='/src/assets/projects/gallary.png'
          />
          <!-- <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          /> -->
        </div>
      </Section>

      <!-- <Section title='Certifications'>
        <Card
          as='a'
          heading='Lorem ipsum'
          subheading='Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio possit voluptatum. Dicat ceteros cu vim. Impetus fuisset ullamcorper pri cu, his posse iisque ad, aliquam honestatis usu id.'
          date='July 2024'
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
        />
      </Section> -->

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Frontend' skills={frontend} />
        <SkillLayout title='Backend' skills={backend} />
      </Section>

      <Section title='Statistics'>
        <div class='text-muted-foreground'>
          <span id="vercount_value_site_pv" class="font-semibold text-foreground">Loading</span> Views
        </div>
      </Section>
    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>

<!-- Vercount 统计脚本 -->
<script defer src="https://events.vercount.one/js"></script>
